.app {
	text-align: center;
	width:60%;
	margin:10%;
	margin-top: -10%;
	padding:10%;
}

.list {
	list-style-type:none;
	width:100%;
	padding:0px;
	margin:0px;
}

.hdr {
	font-size: 4vw;
	margin: none;
	padding: none;
}

.ftr {
	margin-top:10%;
	line-height:7vw;
	font-size:2vw;
	user-select:none;
}

.ftr--left {
	display:inline-block;
	float:left;
}

.ftr--middle {
	display:inline-block;
}

.ftr__input[type="radio"] {
	margin:0px;
	opacity:0;
	width:0px;
	z-index:100;
}

.ftr__label {
	border:1px solid #eee;
	margin:0px;
	padding:5px;
	color: #444;
}

.ftr__label:hover {
	border:1px solid #bbb;
}

.ftr__input[type="radio"]:checked+label {
	margin:0px;
	padding:5px;
	border:1px solid black;
	color:black;
}

.ftr--right {
	display: inline-block;
	float:right;
}

.ftr__button {
	border:none;
	background:none;
	color:#444;
	font-size:inherit;
	padding:0px;
	margin:0px;
}
.ftr__button:hover {
	color:black;
}
