.input {
	padding: none;
	margin: none;
	padding-bottom:2vw;
  	border-bottom: 1px solid gray;
	text-align:right;
}
.input__form {
	display:inline;
}
.input__button {
	width:0px;
	float:left;
	border: none;
	background:none;
	display:inline;
	position:relative;
	max-height: 7vw;
}
.input__chevron {
	width:0px;
	font-size: 12vw;
	position:relative;
	padding:0px;
	margin:0px;
	top:-8.5vw;
}
.input__chevron:hover {
	color:black;
}

.input__input {
	border: 1px solid #ddd;
	border-bottom:1px solid gray;
	border-radius: none;
	font-size: 4vw;
	line-height:8vw;
	width:85%;
}
